{% extends 'base.html.twig' %}

{% block title %}Profil Utilisateur{% endblock %}

{% block body %}
    <div class="action" style="width: 300px; margin: auto; font-size: 1.5em">
        <a href="{{ path('app_logout') }}" class="long-block" style="background-color: blue; color: white">Deconnexion</a>
    </div/>
    <h2>Editer profil</h2>
    <div class="form" style="border: 1px solid black">
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn" style="background: green">{{ button_label|default('Valider') }}</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
