{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}


{% block body %}
    <h1 style="text-align: center">Bienvenue sur le site des événements</h1>

    {% if app.user %}
       <a href="{{ path('app_evenement_new') }}" style="font-size: 1.5em">Creer nouveau evenement</a>
    {% endif %}

    <h2>Voici la liste des évenements récents :</h2>
    <div style="display: flex">
        {% for evenement in evenements %}
            {% if (app.user or evenement.public) %}
                <a href="{{ path('app_evenement_show', {'id': evenement.id}) }}" 
                style="border: 1px solid black; text-align: center; width: 30%; margin: 5px; color: black; text-decoration: none">
                    <strong>{{ evenement.titre }}</strong><br>
                    <span>{{ evenement.description }}</span><br>
                    <span>{{ evenement.date ? evenement.date|date('Y-m-d H:i:s') : '' }}</span>
                </a>
            {% endif %}
        {% else %}
            <div>
                No records found
            </div>
        {% endfor %}
    </div>

    <h2>Inscription</h2>
    {% if app.user %}
        <a href="{{ path('app_participation_user') }}">List des inscription</a>
    {% else %}
        Veuillez vous connecter pour voir vos inscriptions
    {% endif %}
    
    <h2>Edition de l'utilisateur</h2>


{% endblock %}